$uol-white = #FFFFFF
$uol-core-red = #E4042C
$uol-core-grey = #3C3C3C
$uol-orange = #E37606
$uol-green = #07A75A
$uol-blue = #0096D2
$uol-purple = #5A4BC2
$uol-bright-yellow = #FAD246
$uol-bright-green = #55DC7D
$uol-bright-blue = #32D2F5
$uol-bright-purple = #CD7DFF
$uol-dark-red = #6E052D
$uol-dark-green = #0A3C46
$uol-dark-blue = #141E50
$uol-neutral-purple = #C3C1D2
$uol-neutral-green = #B8C7C4
$uol-neutral-blue = #B3C4CC
$uol-neutral-red = #D6CACB
$uol-neutral-grey1 = #646464
$uol-neutral-grey2 = #AAAAAA
$uol-neutral-grey3 = #C8C8C8
$uol-neutral-grey4 = #E6E6E6
$uol-neutral-putty1 = #8B817B
$uol-neutral-putty2 = #ADA29A
$uol-neutral-putty3 = #C0B8B0
$uol-neutral-putty4 = #D7D2CB

.uol-white
    color: $uol-white
    
.uol-core-red
    color: $uol-core-red

.uol-core-grey
    color: $uol-core-grey

.uol-core-grey-75
    color: tint($uol-core-grey,25%)

.uol-core-grey-50
    color: tint($uol-core-grey,50%)

.uol-core-grey-25
    color: tint($uol-core-grey,75%)

.uol-orange
    color: $uol-orange

.uol-orange-75
    color: tint($uol-orange, 25%)

.uol-orange-50
    color: tint($uol-orange, 50%)

.uol-orange-25
    color: tint($uol-orange, 75%)

.uol-green
    color: $uol-green

.uol-green-75
    color: tint($uol-green, 25%)

.uol-green-50
    color: tint($uol-green, 50%)

.uol-green-25
    color: tint($uol-green, 75%)

.uol-blue
    color: $uol-blue

.uol-blue-75
    color: tint($uol-blue, 25%)

.uol-blue-50
    color: tint($uol-blue, 50%)

.uol-blue-25
    color: tint($uol-blue, 75%)

.uol-purple
    color: $uol-purple

.uol-purple-75
    color: tint($uol-purple, 25%)

.uol-purple-50
    color: tint($uol-purple, 50%)

.uol-purple-25
    color: tint($uol-purple, 75%)

.uol-bright-yellow
    color: $uol-bright-yellow

.uol-bright-yellow-75
    color: tint($uol-bright-yellow, 25%)

.uol-bright-yellow-50
    color: tint($uol-bright-yellow, 50%)

.uol-bright-yellow-25
    color: tint($uol-bright-yellow, 75%)

.uol-bright-green
    color: $uol-bright-green

.uol-bright-green-75
    color: tint($uol-bright-green, 25%)

.uol-bright-green-50
    color: tint($uol-bright-green, 50%)

.uol-bright-green-25
    color: tint($uol-bright-green, 75%)

.uol-bright-blue
    color: $uol-bright-blue

.uol-bright-blue-75
    color: tint($uol-bright-blue, 25%)

.uol-bright-blue-50
    color: tint($uol-bright-blue, 50%)

.uol-bright-blue-25
    color: tint($uol-bright-blue, 75%)

.uol-bright-purple
    color: $uol-bright-purple

.uol-bright-purple-75
    color: tint($uol-bright-purple, 25%)

.uol-bright-purple-50
    color: tint($uol-bright-purple, 50%)

.uol-bright-purple-25
    color: tint($uol-bright-purple, 75%)

.uol-dark-red
    color: $uol-dark-red

.uol-dark-red-75
    color: tint($uol-dark-red, 25%)

.uol-dark-red-50
    color: tint($uol-dark-red, 50%)

.uol-dark-red-25
    color: tint($uol-dark-red, 75%)

.uol-dark-green
    color: $uol-dark-green

.uol-dark-green-75
    color: tint($uol-dark-green, 25%)

.uol-dark-green-50
    color: tint($uol-dark-green, 50%)

.uol-dark-green-25
    color: tint($uol-dark-green, 75%)

.uol-dark-blue
    color: $uol-dark-blue

.uol-dark-blue-75
    color: tint($uol-dark-blue, 25%)

.uol-dark-blue-50
    color: tint($uol-dark-blue, 50%)

.uol-dark-blue-25
    color: tint($uol-dark-blue, 75%)

.uol-neutral-purple
    color: $uol-neutral-purple

.uol-neutral-purple-75
    color: tint($uol-neutral-purple, 25%)

.uol-neutral-purple-50
    color: tint($uol-neutral-purple, 50%)

.uol-neutral-purple-25
    color: tint($uol-neutral-purple, 75%)

.uol-neutral-green
    color: $uol-neutral-green

.uol-neutral-green-75
    color: tint($uol-neutral-green, 25%)

.uol-neutral-green-50
    color: tint($uol-neutral-green, 50%)

.uol-neutral-green-25
    color: tint($uol-neutral-green, 75%)

.uol-neutral-blue
    color: $uol-neutral-blue

.uol-neutral-blue-75
    color: tint($uol-neutral-blue, 25%)

.uol-neutral-blue-50
    color: tint($uol-neutral-blue, 50%)

.uol-neutral-blue-25
    color: tint($uol-neutral-blue, 75%)

.uol-neutral-red
    color: $uol-neutral-red

.uol-neutral-red-75
    color: tint($uol-neutral-red, 25%)

.uol-neutral-red-50
    color: tint($uol-neutral-red, 50%)

.uol-neutral-red-25
    color: tint($uol-neutral-red, 75%)

.uol-neutral-grey1
    color: $uol-neutral-grey1

.uol-neutral-grey1-75
    color: tint($uol-neutral-grey1, 25%)

.uol-neutral-grey1-50
    color: tint($uol-neutral-grey1, 50%)

.uol-neutral-grey1-25
    color: tint($uol-neutral-grey1, 75%)

.uol-neutral-grey2
    color: $uol-neutral-grey2

.uol-neutral-grey2-75
    color: tint($uol-neutral-grey2, 25%)

.uol-neutral-grey2-50
    color: tint($uol-neutral-grey2, 50%)

.uol-neutral-grey2-25
    color: tint($uol-neutral-grey2, 75%)

.uol-neutral-grey3
    color: $uol-neutral-grey3

.uol-neutral-grey3-75
    color: tint($uol-neutral-grey3, 25%)

.uol-neutral-grey3-50
    color: tint($uol-neutral-grey3, 50%)

.uol-neutral-grey3-25
    color: tint($uol-neutral-grey3, 75%)

.uol-neutral-grey4
    color: $uol-neutral-grey4

.uol-neutral-grey4-75
    color: tint($uol-neutral-grey4, 25%)

.uol-neutral-grey4-50
    color: tint($uol-neutral-grey4, 50%)

.uol-neutral-grey4-25
    color: tint($uol-neutral-grey4, 75%)

.uol-neutral-putty1
    color: $uol-neutral-putty1

.uol-neutral-putty1-75
    color: tint($uol-neutral-putty1, 25%)

.uol-neutral-putty1-50
    color: tint($uol-neutral-putty1, 50%)

.uol-neutral-putty1-25
    color: tint($uol-neutral-putty1, 75%)

.uol-neutral-putty2
    color: $uol-neutral-putty2

.uol-neutral-putty2-75
    color: tint($uol-neutral-putty2, 25%)

.uol-neutral-putty2-50
    color: tint($uol-neutral-putty2, 50%)

.uol-neutral-putty2-25
    color: tint($uol-neutral-putty2, 75%)

.uol-neutral-putty3
    color: $uol-neutral-putty3

.uol-neutral-putty3-75
    color: tint($uol-neutral-putty3, 25%)

.uol-neutral-putty3-50
    color: tint($uol-neutral-putty3, 50%)

.uol-neutral-putty3-25
    color: tint($uol-neutral-putty3, 75%)

.uol-neutral-putty4
    color: $uol-neutral-putty4

.uol-neutral-putty4-75
    color: tint($uol-neutral-putty4, 25%)

.uol-neutral-putty4-50
    color: tint($uol-neutral-putty4, 50%)

.uol-neutral-putty4-25
    color: tint($uol-neutral-putty4, 75%)

.bg-uol-white
    background: $uol-white
    
.bg-uol-core-red
    background: $uol-core-red

.bg-uol-core-grey
    background: $uol-core-grey

.bg-uol-core-grey-75
    background: tint($uol-core-grey,25%)

.bg-uol-core-grey-50
    background: tint($uol-core-grey,50%)

.bg-uol-core-grey-25
    background: tint($uol-core-grey,75%)

.bg-uol-orange
    background: $uol-orange

.bg-uol-orange-75
    background: tint($uol-orange, 25%)

.bg-uol-orange-50
    background: tint($uol-orange, 50%)

.bg-uol-orange-25
    background: tint($uol-orange, 75%)

.bg-uol-green
    background: $uol-green

.bg-uol-green-75
    background: tint($uol-green, 25%)

.bg-uol-green-50
    background: tint($uol-green, 50%)

.bg-uol-green-25
    background: tint($uol-green, 75%)

.bg-uol-blue
    background: $uol-blue

.bg-uol-blue-75
    background: tint($uol-blue, 25%)

.bg-uol-blue-50
    background: tint($uol-blue, 50%)

.bg-uol-blue-25
    background: tint($uol-blue, 75%)

.bg-uol-purple
    background: $uol-purple

.bg-uol-purple-75
    background: tint($uol-purple, 25%)

.bg-uol-purple-50
    background: tint($uol-purple, 50%)

.bg-uol-purple-25
    background: tint($uol-purple, 75%)

.bg-uol-bright-yellow
    background: $uol-bright-yellow

.bg-uol-bright-yellow-75
    background: tint($uol-bright-yellow, 25%)

.bg-uol-bright-yellow-50
    background: tint($uol-bright-yellow, 50%)

.bg-uol-bright-yellow-25
    background: tint($uol-bright-yellow, 75%)

.bg-uol-bright-green
    background: $uol-bright-green

.bg-uol-bright-green-75
    background: tint($uol-bright-green, 25%)

.bg-uol-bright-green-50
    background: tint($uol-bright-green, 50%)

.bg-uol-bright-green-25
    background: tint($uol-bright-green, 75%)

.bg-uol-bright-blue
    background: $uol-bright-blue

.bg-uol-bright-blue-75
    background: tint($uol-bright-blue, 25%)

.bg-uol-bright-blue-50
    background: tint($uol-bright-blue, 50%)

.bg-uol-bright-blue-25
    background: tint($uol-bright-blue, 75%)

.bg-uol-bright-purple
    background: $uol-bright-purple

.bg-uol-bright-purple-75
    background: tint($uol-bright-purple, 25%)

.bg-uol-bright-purple-50
    background: tint($uol-bright-purple, 50%)

.bg-uol-bright-purple-25
    background: tint($uol-bright-purple, 75%)

.bg-uol-dark-red
    background: $uol-dark-red

.bg-uol-dark-red-75
    background: tint($uol-dark-red, 25%)

.bg-uol-dark-red-50
    background: tint($uol-dark-red, 50%)

.bg-uol-dark-red-25
    background: tint($uol-dark-red, 75%)

.bg-uol-dark-green
    background: $uol-dark-green

.bg-uol-dark-green-75
    background: tint($uol-dark-green, 25%)

.bg-uol-dark-green-50
    background: tint($uol-dark-green, 50%)

.bg-uol-dark-green-25
    background: tint($uol-dark-green, 75%)

.bg-uol-dark-blue
    background: $uol-dark-blue

.bg-uol-dark-blue-75
    background: tint($uol-dark-blue, 25%)

.bg-uol-dark-blue-50
    background: tint($uol-dark-blue, 50%)

.bg-uol-dark-blue-25
    background: tint($uol-dark-blue, 75%)

.bg-uol-neutral-purple
    background: $uol-neutral-purple

.bg-uol-neutral-purple-75
    background: tint($uol-neutral-purple, 25%)

.bg-uol-neutral-purple-50
    background: tint($uol-neutral-purple, 50%)

.bg-uol-neutral-purple-25
    background: tint($uol-neutral-purple, 75%)

.bg-uol-neutral-green
    background: $uol-neutral-green

.bg-uol-neutral-green-75
    background: tint($uol-neutral-green, 25%)

.bg-uol-neutral-green-50
    background: tint($uol-neutral-green, 50%)

.bg-uol-neutral-green-25
    background: tint($uol-neutral-green, 75%)

.bg-uol-neutral-blue
    background: $uol-neutral-blue

.bg-uol-neutral-blue-75
    background: tint($uol-neutral-blue, 25%)

.bg-uol-neutral-blue-50
    background: tint($uol-neutral-blue, 50%)

.bg-uol-neutral-blue-25
    background: tint($uol-neutral-blue, 75%)

.bg-uol-neutral-red
    background: $uol-neutral-red

.bg-uol-neutral-red-75
    background: tint($uol-neutral-red, 25%)

.bg-uol-neutral-red-50
    background: tint($uol-neutral-red, 50%)

.bg-uol-neutral-red-25
    background: tint($uol-neutral-red, 75%)

.bg-uol-neutral-grey1
    background: $uol-neutral-grey1

.bg-uol-neutral-grey1-75
    background: tint($uol-neutral-grey1, 25%)

.bg-uol-neutral-grey1-50
    background: tint($uol-neutral-grey1, 50%)

.bg-uol-neutral-grey1-25
    background: tint($uol-neutral-grey1, 75%)

.bg-uol-neutral-grey2
    background: $uol-neutral-grey2

.bg-uol-neutral-grey2-75
    background: tint($uol-neutral-grey2, 25%)

.bg-uol-neutral-grey2-50
    background: tint($uol-neutral-grey2, 50%)

.bg-uol-neutral-grey2-25
    background: tint($uol-neutral-grey2, 75%)

.bg-uol-neutral-grey3
    background: $uol-neutral-grey3

.bg-uol-neutral-grey3-75
    background: tint($uol-neutral-grey3, 25%)

.bg-uol-neutral-grey3-50
    background: tint($uol-neutral-grey3, 50%)

.bg-uol-neutral-grey3-25
    background: tint($uol-neutral-grey3, 75%)

.bg-uol-neutral-grey4
    background: $uol-neutral-grey4

.bg-uol-neutral-grey4-75
    background: tint($uol-neutral-grey4, 25%)

.bg-uol-neutral-grey4-50
    background: tint($uol-neutral-grey4, 50%)

.bg-uol-neutral-grey4-25
    background: tint($uol-neutral-grey4, 75%)

.bg-uol-neutral-putty1
    background: $uol-neutral-putty1

.bg-uol-neutral-putty1-75
    background: tint($uol-neutral-putty1, 25%)

.bg-uol-neutral-putty1-50
    background: tint($uol-neutral-putty1, 50%)

.bg-uol-neutral-putty1-25
    background: tint($uol-neutral-putty1, 75%)

.bg-uol-neutral-putty2
    background: $uol-neutral-putty2

.bg-uol-neutral-putty2-75
    background: tint($uol-neutral-putty2, 25%)

.bg-uol-neutral-putty2-50
    background: tint($uol-neutral-putty2, 50%)

.bg-uol-neutral-putty2-25
    background: tint($uol-neutral-putty2, 75%)

.bg-uol-neutral-putty3
    background: $uol-neutral-putty3

.bg-uol-neutral-putty3-75
    background: tint($uol-neutral-putty3, 25%)

.bg-uol-neutral-putty3-50
    background: tint($uol-neutral-putty3, 50%)

.bg-uol-neutral-putty3-25
    background: tint($uol-neutral-putty3, 75%)

.bg-uol-neutral-putty4
    background: $uol-neutral-putty4

.bg-uol-neutral-putty4-75
    background: tint($uol-neutral-putty4, 25%)

.bg-uol-neutral-putty4-50
    background: tint($uol-neutral-putty4, 50%)

.bg-uol-neutral-putty4-25
    background: tint($uol-neutral-putty4, 75%)
